*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.welcome{
   font-size:40px; 
   width: 600;
}

h3{
    font-size: 28px;
}
h3 span{
    color:orange;
}
.upper{
    width: 50%;
    display: flex;
}